{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Сервис</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="body-wrapper">
            <div class="header">
                <ul class="header-list">
                    <li><a class="header-brand" href="#">Gos0<i class="fa fa-circle"></i>rg</a>
                    <li><a href="#">Gos_org@gmail.com</a></a>
                </ul>
            </div>
            <div class="main-wrapper"> </div>
            <div class="content">
                    <form action="{% url 'send_file' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                       <p><input type="file" name="file">
                       <input type="submit" value="Отправить"></p>
        </form> 
        <img class="content-img" src="{% static 'img/img-front.png' %}">
        </div>
    </div>
<footer>
    <p>+7(910)864-28-83</p>
    <p>2019 Все права защищены.</p>
</footer>
</body>
</html>
